@font-face{
    font-family: "Roboto";
    src: local("Roboto"),
    url(roboto.woff) format("woff"),
    url(roboto.woff2) format("woff2");
    font-weight: normal;
}

*{
    box-sizing: border-box;
}

.body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}
body{
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal
}

.hidden{
    display: none;
}

.header{
    background: #231F20;
    /*margin-bottom: 45px;*/
}

.header-wrapper{
    max-width: 1540px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.header-logo-img{
    margin-bottom: 15px;
}

.header-nav{
    margin-left: 90px;
    margin-right: auto;
}

.header-menu{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.header-menu-link{
    text-decoration: none;
    color: #ffffff;
    margin-right: 50px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 10px;
    /* identical to box height, or 56% */

    letter-spacing: 0.1em;
}

.search-button{
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 12px;
    padding-bottom: 12px;
    background: transparent;
    width: 110px;
    border: 1px solid #ffffff;
    font-size: 18px;
    line-height: 10px;
    border-radius: 100px;
    cursor: pointer;
}

.search-button a{
    color: #ffffff;
    text-decoration: none;
}
.content{
    max-width: 1540px;
    width: 90%;
    margin: auto;
    padding: 50px 0;
    flex: 1;
}

.flex-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content h1{
    margin: 0;
}

.collections-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.user-info{
    display: flex;
    align-items: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 30px;
    margin-bottom: 23px;
}

.trainer-preview-photo{
    height: 400px;
    width: 291px;
    margin-right: 30px;
}

.collections-container > .trainer-card{
    margin-top: 30px;
}

.collections-container > .trainer-card:nth-child(-n + 2){
    margin-top: 0;
}

.trainer-card{
    display: flex;
    /*padding: 30px;*/
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.trainer-link-button{
    padding: 5px 13px;
    border-radius: 20px;
    background: #0C50FF;
    border:none;
    margin: 0 5px;
    transition: transform 0.5s;
    font-size: 18px;
}

.trainer-link-button a{
    color: white;
    text-decoration: none;
}

.trainer-link-button:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.trainer-preview-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px 30px 0;
}

.trainer-preview-info h2, .trainer-preview-info h3{
    margin: 0;
}

.trainer-description{
    padding: 7px;
    border: none;
    resize: none;
    overflow: auto;
    width: 200px;
    height: 100px;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
}

.avatar{
    width: 37px;
    height: 37px;
    border-radius: 50%;
    margin-right: 14px;
}

.tags p{
    padding: 0;
    margin: 0;
}

.tags{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    /* or 150% */

    letter-spacing: 0.05em;

    color: #454545;
    margin-bottom: 17px;
}

.btn{
    border: none;
    width: 60px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 30px;
    color: #ffffff;
    background: #0C50FF;
    border-radius: 100px;
}

footer{
    flex-shrink: 0;
    background-color: #8E8D8D;
    padding: 30px;
}

.footer-content{
    max-width: 1540px;
    width: 90%;
    display: flex;
    margin: auto;
    justify-content: space-between;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 30px;
    /* or 250% */

    letter-spacing: 0.05em;

    color: #ffffff;
}

.icon{
    fill: #ffffff;
    margin-left: 21px;
}

.be-icon{
    width: 32px;
    height: 20px;
}

.twitter-icon{
    width: 27px;
    height: 23px;
}

.inst-icon{
    width: 23px;
    height: 23px;
}

.sign-in-container{
    width: 500px;
    height: 500px;
    margin: auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
    display: flex;
    flex-direction: column;
}

.sign-in-container .sign-in-info{
    font-family: Roboto;
    font-style: normal;
    margin: 33px 106px;
    padding: 0;
    text-align: center;
}

.sign-in-info h2{
    display: block;
    margin: 0 0 23px 0;
    padding: 0;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
}

.sign-in-info a{
    font-weight: 500;
    font-size: 15px;
    line-height: 30px;
    /* identical to box height, or 200% */

    text-align: center;
    letter-spacing: 0.1em;

    color: #0C50FF;

}

.form-create{
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    margin: 0 50px;
    justify-content: space-between;
}


.profile-content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.form-create input[type="text"],[type="password"],[type="email"]{
    border: none;
    border-bottom: 1px solid #959595;
    padding: 10px 10px 10px 2px;
    margin-bottom: 30px;

}


.avatar-group{
    display: block;
    width: 100%;
    margin-bottom: 50px;
    margin-top: 30px;
    text-align: center;
}



input[type=submit]{
    margin: auto;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 10px;
    /* identical to box height, or 56% */

    padding: 15px 20px;
    background: #231F20;
    color: white;

    letter-spacing: 0.1em;
}

input[type=submit]:hover{
    cursor: pointer;
}

.user-info-profile{
    justify-content: space-between;
    font-family: Roboto;
    display: flex;
    flex-direction: column;
    width: 362px;
    height: 518px;
    align-items: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.user-info-profile p, .user-info-profile h3{
    margin: 0;
    padding: 0;
}

.user-avatar{
    margin: 40px 130px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.user-name-profile{
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
}

.user-email{
    margin-top: 13px;
}

.edit-profile-btn{
    width: 145px;
    padding: 15px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 10px;
    /* identical to box height, or 56% */

    letter-spacing: 0.05em;

    background: #0C50FF;
    border-radius: 100px;
    color: #FFFFFF;
}

.edit-profile-link{
    color: white;
    text-decoration: none;
}

.change-psw{
    margin-bottom: 40px;
}

.login-form{
    width: 500px;
    margin: auto;
    padding: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.input-section{
    display: flex;
    flex-direction: column;
}

.login-btn{
    width: 100px;
    padding: 10px;
    align-self: center;
}

.input-section h4{
    align-self: center;
}

.comment-form{
    padding: 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    width: 560px;
}

.comment-form h2{
    margin: 0;
    margin-bottom: 10px;
}

.comment-section{
    width: 500px;
}

.comment-section textarea{
    padding: 5px;
    margin: 0;
    width: 100%;
    height: 180px;
}

.trainer-rating-chooser{
    padding: 5px;
    width: 100%;
    margin: 20px 0;
}

.appointments-container{
    font-family: Roboto;
    font-style: normal;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}

.appointment{

    display: flex;
    margin-bottom: 10px;
    width: 100%;

}

.comments-container{
    font-family: Roboto;
    font-style: normal;
    margin-top: 40px;
    width: 100%;
}

.user-small-avatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.appointment textarea{
    height: 100px;
    width: 100%;
}

.user-info-app{
    margin-right: 20px;
    text-align: center;
}

.user-info-app a{
    margin-bottom: 5px;
    display: block;
    font-weight: bold;
}

.app-date{
    margin: 10px 0 0;
    font-weight: bold;
}

.username-app{
    font-weight: bold;
}

.appointments-container h2{
    margin: 0;
}

.date-input{
    margin-bottom: 10px;
}

.comments-container{

    font-family: Roboto;
    font-style: normal;
    margin-top: 40px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    justify-content: space-between;
}

.comments-container h2{
    width: 100%;
}

.comment{
    width: 435px;
    display: flex;
    /* flex-wrap: wrap; */
    margin-bottom: 30px;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.comment textarea{
    width: 100%;
    padding: 10px;
    border: none;
    resize: none;
    margin: 0;
}

.user-info-comment{
    width: 120px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
    margin-bottom: 0;
    padding: 5px;
}
