<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template.html}">
<head>
    <meta charset="UTF-8">
    <title>Example</title>
</head>
<body>

    <div class="content flex-content" layout:fragment="main-content">
       <div class="collections-container">
           <div class="trainer-card" th:each="trainer : ${trainers}">
                <img th:src="${trainer.imageUrl}" alt="Trainer logo" class="trainer-preview-photo">
               <div class="trainer-preview-info">
                   <h2 class="trainer-preview-name" th:text="${trainer.name}"></h2>
                   <h3 class="experience" th:text="${trainer.experience + ' years expirience'}"></h3>
                   <textarea class="trainer-description" th:text="${trainer.description}" readonly></textarea>
                   <div class="buttons">
                       <button class="trainer-link-button"><a th:href="@{/trainer/profile/{username}(username = ${trainer.email})}">Info</a></button>
                       <button class="trainer-link-button"><a th:href="@{/trainer/comment/{username}(username = ${trainer.email})}">Comment</a></button>
                       <button class="trainer-link-button"><a th:href="@{/trainer/appoint/{username}(username = ${trainer.email})}">Sign</a></button>
                   </div>
               </div>
           </div>
       </div>
    </div>

</body>
</html>