<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template.html}">
<head>
    <meta charset="utf-8">
    <title>Log in with your user account</title>
</head>

<body>
<div class="content flex-content" layout:fragment="main-content">
    <form method="POST" th:action="@{/login}" class="login-form">
        <h2>Login as User</h2>
        <div class="input-section">
            <input name="username" type="email" placeholder="Email"
                   autofocus="true"/>
            <input name="password" type="password" placeholder="Password"/>
            <input type="submit" value="Login"/>
            <h4><a th:href="@{/registration}">Зарегистрироваться</a></h4>
        </div>
    </form>
</div>

</body>
</html>