<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template.html}">
<head>
    <meta charset="utf-8">
    <title>Profile</title>
</head>

<body>

<div class="content flex-content" layout:fragment="main-content">
    <div class="profile-content">
        <div class="user-info-profile">
            <img th:src="${user.imageUrl}" class="user-avatar">
            <div class="user-name-profile">
                <h3 th:text="${user.name}"></h3>
            </div>
            <div class="user-name-profile">
                <h3 th:text="${user.lastName}"></h3>
            </div>

            <div class="user-email">
                <p th:text="${user.email}"></p>
            </div>
            <!--            <div class="user-role">-->
            <!--                <p th:text="${user.role}"></p>-->
            <!--            </div>-->
            <button class="edit-profile-btn">
                <a class="edit-profile-link" th:href="@{/users/update/{username}(username = ${user.email})}">Edit Profile</a>
            </button>
            <a class="change-psw">Change password</a>
        </div>
        <div class="user-collections">
        </div>
    </div>
</div>

</body>
</html>