<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template.html}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="content flex-content" layout:fragment="main-content">
    <div class="sign-in-wrapper">
        <div class="sign-in-container">
            <div class="sign-in-info">
                <h2>Create an account:</h2>
                <a th:href="@{/login}">Login</a>
            </div>
            <form class="form-create" method="POST" th:action="@{/registration}" th:object="${user}">
                <div class="input-group">
                    <input type="text" id="name" placeholder="Name" th:field="*{name}" >
                </div>
                <div class="input-group">
                    <input type="text" id="last-name" placeholder="Last Name" th:field="*{lastName}">
                </div>
                <div class="input-group">
                    <input type="password" id="reg_password" placeholder="Password" th:field="*{password}">
                </div>
                <div class="input-group">
                    <input type="email" id="email" placeholder="Email" th:field="*{email}">
                </div>

                <div class="input-group">
                    <input type="text"  id="avatarUrl" placeholder="Image URL" th:field="*{imageUrl}">
                </div>

                <input type="submit" value="Register">
            </form>
        </div>
    </div>
</div>
</body>
</html>