<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/normalize.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title></title>
</head>
<body class="body">
    <header class="header">
        <div class="header-wrapper">
            <a th:href="@{/index}" class="logo"><img class="header-logo-img" th:src="@{/img/dePaletra.svg}" alt="logo: DePaletra"></a>
            <nav class="header-nav">
                <ul class="header-menu">
                    <li class="header-menu-item"><a th:href="@{/index}" class="header-menu-link">HOME</a></li>
                    <li class="header-menu-item"><a href="#" class="header-menu-link">ABOUT</a></li>
                    <li class="header-menu-item"><a href="#" class="header-menu-link">PROJECT</a></li>
                    <li class="header-menu-item"><a href="#" class="header-menu-link">BLOG</a></li>
                    <li class="header-menu-item"><a href="#" class="header-menu-link">CONTACT</a></li>
                </ul>
            </nav>
            <button class="search-button">
                <a sec:authorize="isAnonymous()" th:href="@{/registration}">Sign in</a>
                <a sec:authorize="!isAnonymous()" th:href="@{/logout}">Logout</a>
            </button>

        </div>
    </header>
    <div layout:fragment="main-content" class="content">
        <p>Your page content goes here</p>
    </div>
    <footer>
        <div class="container">
            <div class="footer-content">
                <div class="left">
                    <span>Copyright © 2015-2020 DePaletra Company. All rights reserved.</span>
                </div>
                <div class="right">
                    <div class="socials">
                        <a href="#">
                            <svg class="be-icon icon">
                                <use th:href="@{/img/icons.svg#be}"></use>
                            </svg>
                        </a>
                        <a href="#">
                            <svg class="twitter-icon icon">
                                <use  th:href="@{/img/icons.svg#twitter}"></use>
                            </svg>
                        </a>
                        <a href="#">
                            <svg class="inst-icon icon">
                                <use th:href="@{/img/icons.svg#instagram}"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>