<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template.html}">
<head>
    <meta charset="utf-8">
    <title>Profile</title>
</head>

<body>

<div class="content flex-content" layout:fragment="main-content">
    <div class="profile-content">
        <div class="trainer-card">
            <img th:src="${trainer.imageUrl}" alt="Trainer logo" class="trainer-preview-photo">
            <div class="trainer-preview-info">
                <h2 class="trainer-preview-name" th:text="${trainer.name}"></h2>
                <h3 class="experience" th:text="${trainer.experience + ' years expirience'}"></h3>
                <textarea class="trainer-description" th:text="${trainer.description}" readonly></textarea>

                <button class="edit-profile-btn" th:if="${canEdit}">
                    <a class="edit-profile-link" th:href="@{/trainer/update/{username}(username = ${trainer.email})}">Edit Profile</a>
                </button>

                <div class="buttons">
                    <button class="trainer-link-button"><a th:href="@{/trainer/profile/{username}(username = ${trainer.email})}">Info</a></button>
                    <button class="trainer-link-button"><a th:href="@{/trainer/comment/{username}(username = ${trainer.email})}">Comment</a></button>
                    <button class="trainer-link-button"><a th:href="@{/trainer/appoint/{username}(username = ${trainer.email})}">Sign</a></button>
                </div>

            </div>
        </div>
        <div class="appointments-container">
            <h2>Last Appointments</h2>
            <div th:each="appointment : ${trainer.appointments}" class="appointment">
                <div class="user-info-app">
                    <a th:text="${appointment.user.name}">GLEB</a>
                    <img th:src="${appointment.user.imageUrl}" class="user-small-avatar">
                    <p th:text="${appointment.appointmentDate}" class="app-date"></p>
                </div>
                <textarea th:text="${appointment.comment}"></textarea>
            </div>
            <button class="trainer-link-button"><a th:href="@{/index}">See more</a></button>
        </div>
        <div class="comments-container">
            <h2>Last Comments</h2>
            <div th:each="comment : ${trainer.comments}" class="comment">
                <div class="user-info-comment user-info">
                    <a class="username-app" th:text="${comment.user.name}"></a>
                    <img class="user-small-avatar" th:src="${comment.user.imageUrl}"/>
                    <span class="trainer-rating" th:text="'Rating: ' + ${comment.ratingOfTrainer}"></span>
                </div>
                <textarea th:text="${comment.message}">

                </textarea>
            </div>
        </div>
    </div>
</div>

</body>
</html>