<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template.html}">
<head>
    <meta charset="utf-8">
    <title>Log in with your account</title>
</head>

<body>
<div class="content flex-content" layout:fragment="main-content">
    <p th:text="${username}"></p>
</div>

</body>
</html>